* {
    box-sizing: border-box;
}

body {
    background-color: #AED2F3;
}

#modal {
    width: 400px;
    height: 400px;
    position: absolute;
    left: calc(50% - 200px);
    top: calc(50% - 200px);
    border: 2px solid #000;
    border-radius: 4px;
    z-index: 10000;
    background-color: #fff;
}

.col-new {
    background-color: #59B4D1;
}

.col-in-progress {
    background-color: #D0935A;
}

.col-review {
    background-color: #945AD1;
}

.col-done {
    background-color: #4CAC78;
}